@model WebApp2.Models.BrosShopOrder

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BrosShopOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopDateTimeOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopDateTimeOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopTypeOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopTypeOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopUser.BrosShopUserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BrosShopOrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
