@model WebApp2.Models.BrosShopOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BrosShopOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopDateTimeOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopDateTimeOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopTypeOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopTypeOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopUser.BrosShopUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BrosShopOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
