@model WebApp2.Models.BrosShopProduct

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.BrosShopTitle</h1>

<div class="row">
    <div class="col-md-6">
        <h4>Images</h4>
        <div class="row">
            @foreach (var imageInCollection in Model.BrosShopImages)
            {
                <div class="col-md-6 mb-2">
                    <img src="@Url.Action("GetImage", "BrosShopImages", new { imageId = imageInCollection.BrosShopImagesId })" class="img-fluid" alt="Image for @Model.BrosShopTitle" />
                </div>
            }
        </div>
    </div>

    <div class="col-md-6">
        <h4>Product Details</h4>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.BrosShopPrice)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BrosShopPrice)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.BrosShopDiscountPercent)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BrosShopDiscountPercent)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.BrosShopWbarticul)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BrosShopWbarticul)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.BrosShopCategory)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BrosShopCategory.BrosShopCategoryId)
            </dd>
        </dl>
        <h4>Description</h4>
        <p>
            @Html.DisplayFor(model => model.BrosShopDescription)
        </p>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.BrosShopProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
