@model WebApp2.Models.BrosShopProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BrosShopProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopDiscountPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopDiscountPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopWbarticul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopWbarticul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopPurcharesePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopPurcharesePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrosShopCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrosShopCategory.BrosShopCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BrosShopProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
