@model IEnumerable<WebApp2.Models.BrosShopProduct>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] = "Index";</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp2.styles.css" asp-append-version="true" />
</head>


<h1>Каталог товаров</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">создать товар</a>
</p>

<div class="row mb-4">
    <!-- Добавлен класс mb-4 для отступа снизу -->
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a asp-action="Details" asp-route-id="@item.BrosShopProductId" class="text-decoration-none">
                <div class="card mb-4 shadow-sm">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="fixed-image-container">
                                    <img src="@Url.Action("GetImageForProductId", "BrosShopImages", new { productId = item.BrosShopProductId })" class="fixed-image" alt="Image for @item.BrosShopTitle" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.BrosShopTitle)</h5>
                                <p><strong>Price:</strong> @Html.DisplayFor(modelItem => item.BrosShopPrice)</p>
                                <p class="card-text">
                                    <strong>Description:</strong>
                                    <span class="description-text">@Html.DisplayFor(modelItem => item.BrosShopDescription)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<!-- Добавьте дополнительный отступ, если необходимо -->
<div class="mb-5"></div> <!-- Это может помочь создать дополнительное пространство перед футером -->
