@model IEnumerable<WebApp2.Models.BrosShopProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Каталог товаров</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">создать товар</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a asp-action="Details" asp-route-id="@item.BrosShopProductId" class="text-decoration-none">
                <div class="card mb-4 shadow-sm">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="fixed-image-container">
                                    <img src="@Url.Action("GetImageForProductId", "BrosShopImages", new { productId = item.BrosShopProductId })" class="fixed-image" alt="Image for @item.BrosShopTitle" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.BrosShopTitle)</h5>
                                <p><strong>Price:</strong> @Html.DisplayFor(modelItem => item.BrosShopPrice)</p>
                                <p class="card-text">
                                    <strong>Description:</strong>
                                    <span class="description-text">@Html.DisplayFor(modelItem => item.BrosShopDescription)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
